header{
    color:blue;
    text-align: center;
    font-weight: 900;
    padding: 1em;
    margin:1em;
    width:100%;

}

.calculatorBody{
    color:blue;
    font-weight: 900;
    width: 95%;
}


.row{
    background-color:grey;
    padding: 1em;
    margin:1em;
    width:100%;
    height:4em;
}

.button {
    height:8ch;
    width:24%;
    font-size: 1.2vw;
}